# Windows
Thumbs.db
Desktop.ini
# Python
__pycache__/
*.pyc
.venv/
venv/
warehouse_venv/
# VS Code
.vscode/
tokens.json
.env
assembly_info_log.log

.gitignore.bak
assembly_info.log
bat-v0.24.0-x86_64-pc-windows-msvc.zip
bat-v0.24.0-x86_64-unknown-linux-g
reshipment.log
"supplies_and_orders.ipynb" 
"*.ipynb" 
